.article{
  width: 100%;
  min-height: 100vh;
  background: rgba(255,255,255,.9);
  .top{
    width: 100%;
    height: 350px;
    position: relative;
    top: 0;
    img{
      width: 100%;
      height: 350px;
      filter: brightness(70%);
    }
    .topText{
      width: 100%;
      height: 350px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      overflow: hidden;
      //padding: 20px 10px;
      .topArticleTitle{
        font-size: 40px;
        font-weight: bold;
        background: linear-gradient(to right,red,blue);
        -webkit-background-clip: text;
        color: transparent;
      }
      .topInfo{
        color: #ffffff;
        font-size: 18px;
      }
    }
  }
  .detailFather{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .articleDetail{
      width: 50vw;
      padding: 20px 35px;
      .articleImg{
        width: 100%;
        max-height: 500px;
        margin: 10px 0;
      }
      .articleCode{
        color: #abb2bf;
        font-size: 14px;
        line-height: 22px;
        background-color: #282c34;
        width: 100%;
        display: block;
        white-space: pre-wrap;
        max-height: 350px;
        overflow: auto;
        counter-reset: line;
        position: relative;
        padding: 25px 5px 10px 0;
        code{
          display: block;
        }
        code::before{
          counter-increment: line;
          content: counter(line);
          display: inline-block;
          width: 1.5em;
          text-align: right;
          border-right: 2px solid #999;
          padding-right: .8em;
          margin-right: 1em;
          color: #999;
        }
        .iconCopy{
          color: #ffff;
          position: absolute;
          top: 6px;
          right: 9px;
        }
        .iconCopy:hover{
          color: dodgerblue;
        }
      }
    }
  }
}
