.archive{
  width: 15vw;
  min-width: 145px;
  border: 1px solid #f0f0f2;
  border-radius: 10px;
  cursor: default;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
  .archiveTitle{
    width: 80%;
    font-size: 18px;
    margin: 25px 0 18px 0;
  }
  .archiveContent{
    width: 80%;
    padding-bottom: 25px;
    .archiveItem{
      width: 100%;
      line-height: 35px;
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      transition: all .4s ease-in-out;
      cursor: pointer;
      color: #555666;
    }
    .archiveItem:hover{
      background-color: dodgerblue;
    }
  }
}
.archive:hover{
  box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
  background-color: rgba(211,211,211,.1);
}