.preview{
  height: 200px;
  width: 45vw;
  padding: 10px 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-direction: column;
  .title{
    font-size: 19px;
    font-weight: 500;
    margin: 10px 0;
    height: 27px;
    overflow: hidden;
  }
  .title:hover{
    text-decoration: underline;
  }
  .content{
    font-size: 15px;
    font-width: 400;
    color: #555666;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-height: 200%;
  }
  .preFooter{
    height: 20px;
    color: darkgray;
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: 8px;
    font-size: 14px;
    overflow: hidden;
    cursor: default;
    .time{
      margin-right: 8px;
    }
  }
}
.preview:hover{
  color: rgba(255,0,0,.8);
  background-color: rgba(211,211,211,.1);
}