.preview{
  height: 160px;
  width: 50vw;
  padding: 10px 20px;
  .title{
    font-size: 19px;
    font-weight: 500;
    margin: 10px 0;
    height: 27px;
    overflow: hidden;
  }
  .title:hover{
    text-decoration: underline;
  }
  .content{
    font-size: 14px;
    font-width: 400;
    color: #555666;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }

}
.preview:hover{
  color: rgba(255,0,0,.8);
  background-color: rgba(211,211,211,.1);
}