.preview{
  height: 120px;
  width: 60vw;
  border-bottom: 1px solid #f0f0f2;
  cursor: pointer;
  padding: 10px 20px;
  .title{
    font-size: 18px;
    font-weight: 500;
    padding: 10px 0;
  }
  .title:hover{
    text-decoration: underline;
  }
  .content{
    font-size: 14px;
    font-width: 400;
    color: #555666;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }

}
.preview:hover{
  color: rgba(255,0,0,.8);
  background-color: rgba(211,211,211,.1);
}